:root{
 
}

body{
   margin:0px;
   font-family: 'Roboto';
}


header{
  height: 100px;
  background-color: rgb(103, 169, 244);
  padding: 30px;
}

main{
  width: 75%;
  margin: auto;
  background-color: beige;
  padding: 30px;

}
footer{
  background-color: black;
  color:white;
  padding: 30px;
}