.pakalpojumi{
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    
    .card{
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.532);
    }
}