.pakalpojumi{
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    

    .card{
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.532);
         transition: all .5s ease-in ;


        h5{
            font-size: 1.2rem;
        }
        a{
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            color:white;
            background-color: blue;
            border-radius: 5px;
            margin-top: 20px;

            &:hover{
            background-color: rgb(143, 143, 249);
        }
        }

       
    }

    .accent{
        background-color: darkorange;
        border:2px solid white;
    }
}


.big_card{
    transform: scale(1.2);
    transition: all .3s ease-in ;
}