.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    justify-content: center;
    
}

.product-card{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button{
        padding: 10px;
        margin-top: 20px;
    }

}
